html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body {
	margin: 0; /* Убираем внешние отступы */
	overflow: hidden; /* Запрещаем прокрутку на body */
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	@include list-reset;
}
